.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #f5f7fa;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
